.outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login {
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.form {
    width: 100%;
}